# <font color="red" size="10"><b>ch02. 자료형과 연산자 </b></font>

# 1절. 변수
## 1.1 변수선언
    - 별도의 변수 선언과정 없음
## 1.2 변수 할당
    - 대입연산자(=) 사용

In [ ]:
import numpy as np
print(np.pi)
r = 5
area = np.pi * r * r
print("계산된 넓이는", area)

In [ ]:
import numpy as np
print('제공되는 pi값은', np.pi)
r = 5
area = np.pi * r * r
# printf("계산된 넓이는 %lf", area)
print("계산된 넓이는", area)
print('area타입은', type(area) )
print('area 주소는', id(area))

In [ ]:
area = 10
print("area 값은", area)
print('area타입은', type(area) )
print('area 주소는', id(area))

In [ ]:
area = '파이썬은 좋아요'
print("area 값은", area)
print('area타입은', type(area) )
print('area 주소는', id(area))

In [ ]:
불용어 = "북한"
print(불용어)

In [ ]:
i=3+3j
type(i)

In [ ]:
a=10
b=20

In [ ]:
a,b=10,20

## 1.3 변수이름 규칙
    - 문자(특수문자는 _제외하고 안됨), 숫자, _로 명명.
    - 문자로 시작
    
- 파이썬에서 제공되는 기본 함수명 피하자. 꼭 써야한다면 int_식으로 _를 
    임
- 파이썬 예약어는 변수명 불가(ex. if)

In [ ]:
a,b

In [ ]:
a,b=b,a+b #이경우 병렬로 같이 들어가서, a+b 는 40이 아니고 30이다.
a,b

## 1.4 도움말

In [ ]:
help(print)

In [ ]:
#도움말 기능 : 함수내에서 shift + tab 키

In [ ]:
print('a','b',sep='~')

In [ ]:
def mknum(x,y=0):
    """doc string(함수의 도움말)
    매개변수 2개를 이용해서 2자리 정수를 만들어요
    x = 10의 자리수
    y = 1의 자리수 (dafault 값 0)
    """
    return x*10 + y

In [ ]:
mknum(2,3)

In [ ]:
mknum(5)

In [ ]:
make = mknum  #함수를 변수에 할당

In [ ]:
make(6)

## 1.5 변수 삭제

In [ ]:
del make

In [ ]:
make(6)

# 2절 화면 I/O

In [ ]:
# first = input('첫 번째 숫자는?') #문자로 return
# second = input('두 번째 숫자는?'
first = int(input('첫 번째 숫자는?'))
second = int(input('두 번째 숫자는?'))  #이렇게 int 형으로 바꿔줘야 숫자로 받음

In [ ]:
print('두수의 합은 {}'.format(first+second))  #input을 문자로 받아서 합쳐짐...

In [ ]:
print('Hello','world',sep='~')
print('Hello', 'Python', sep='~')  # 이렇게 하면 꼭 두줄에 나옴, 한줄에 나오게 하고싶다면?? shift+tab 으로 확인해보자

In [ ]:
print('Hello','world',sep='~',end ='\t')  #이렇게 end 이용해서 설정가능
print('Hello', 'Python', sep='~')

# 3절. 기본 자료형
    - 숫자 : int, float, complex
    - 문자 : str //무조건 str 임
    - 논리 : bool
    파이썬은 타입을 지칭하는 키워드가 없고, 변수 할당시 타입이 정해짐

## 3.1 숫자형

In [ ]:
import sys
print(sys.maxsize) #windows가 다루는 정수의 최대 크기 
#모든 크기의 정수를 다 처리가능

In [ ]:
a = sys.maxsize + 10
print("값 : {} / 주소 : {}".format(a,id(a)))   #할당할때마다 주소가 바뀜
print(type(a)) #int임, maxsize보다 커도 처리가 가능..!

In [ ]:
a = 3/2 #정수형 나누기 정수형 : 실수형(float)
print("값:{}/주소{}".format(a,id(a)))
print(type(a))

In [ ]:
a = int(3/2) #C언어 결과처럼 하고자 하면 명시적 형변환
a = 3//2 #C언어 결과처럼 하고자 하면 몫연산자 
print("값:{}/주소{}".format(a,id(a)))
print(type(a))

In [ ]:
#아주 작거나 큰 수를 나타낼 때
f = 1.12e20 # 1.12 * 10^20 
print(f)
f = 1.12e-20
print(f)

## 3.2 문자형

In [ ]:
name = "홍길동'님'"
name2 = '홍길동"님"'
address = "서울시 \"금천구\" \
가산디지털1로"
#\는 다음줄에서 계속 이라는 의미
print(name)
print(name2)
print(address)

In [ ]:
text = "안녕하세요\n홍길동입니다.\n반갑습니다."
print(text)

In [ ]:
text="""안녕하세요
홍길동입니다.
반갑습니다.
"""
print(text)

## - 문자열 슬라이싱

In [ ]:
str_ = "0123456789"  #str(100) 하면 100을 문자열로 저장하라는 함수이므로 _꼭 해야함
str_

In [ ]:
str_[0:3]  #0번째 인덱스부터 3번쨰 앞까지(2번째까지)

In [ ]:
str_[-1] #음수 인덱스는 뒤에서부터, 뒤에서 첫번째 글자

In [ ]:
str_="0123456789"
str_[-5:-1]

In [ ]:
str_[-5:] #-5부터 끝까지

In [ ]:
str_[:-5]

In [ ]:
#str_[19] #없는건 에러남
str_[5:19] #but 슬라이싱할떄는 괜찮음 끝까지 가버림

In [ ]:
#str_[from:to:step]
print(str_[0:9:2]) #0번쨰부터 9번쨰 앞까지 2씩 인덱스 증가해서 출력
print(str_[::2])   #from to 둘다 안쓰면 처음부터 끝까지 2씩 증가해서 출력

In [ ]:
#끝부터 처음까지 (거꾸로)
print(str_[9::-1])  # 안넣어야 끝까지 출력

## 3.3 논리형(True, False)

In [ ]:
a = True
print(a)
print(type(a))
print(isinstance(a,bool)) #isinstance는 a가 bool타입의 객체 인지 물어보는것

In [ ]:
#False로 간주하는 것 : 0, None, "" (빈스트링) ''(빈스트링), []리스트, ()튜플, {}딕셔너리 , 뭔가 안에 데이터가 없으면 False로 간주
#True로 간주하는 것 : 데이터가 있으면 True로 간주, " " 이렇게 스페이스 있어도 True, '\0' Null문자도 True

In [ ]:
if 0+0j:  #이건 0이라 False로 간주
    print("True다")
else:
    print("False다")

## 3.4 자료형 확인 및 변환
    - type() : 자료형 확인
    - int() : 정수형 변환
    - float() : 실수형 변환
    - str() : 문자형 변환
    - bool() : 논리형 변환

In [ ]:
int('')  #이런건 안됨

In [ ]:
int("2,000")  #,있어도 안됨 콤마 없애는 전처리 과정을 해줘야함

In [ ]:
float(True) #True는 float로 바꾸면 1.0!!

# 4절 포맷팅

In [ ]:
name = "홍길동"
add = "서울시 금천구"
print("이름은 {}, 주소는 {}".format(name,add))
print("이름은 {1}, 주소는 {0}".format(add,name)) #이렇게 인덱스 지정해서 순서 정할 수 있음

In [ ]:
print("이름은 %s, 주소는 %s"%(name,add)) #이렇게도 되는데 옛날방식임

In [ ]:
print(f"이름은 {name}, 주소는{add}")

### format()함수
    - "{[인덱스]:[공백대체문자][정렬방법][자릿수][타입]}".format(변수명,....,..) [생략가능]
    - 공백대체문자 : 자릿수 정해주고 남는 공백에 넣을 문자
    - 정렬방법 : <(왼쪽정렬), >(오른쪽정렬), ^(가운데정렬)
    - 타입 : d(10진수), x(16진수), b(2진수), f(실수), s(문자)

In [ ]:
a = 10 
s = 'Hello'
print("[{0:$>10d}],[{1:*<20.2}]".format(a,s))

# 5절. 연산자
## 5.1 산술연산자 : + - / * //(몫) %(나머지) **(제곱)
## 5.2 할당연산자 : = += -= /= %= ...
## 5.3 논리연산자 : &, and, |, or, not (연산자 우선순위가 높음)
## 5.4 비트연산자 : &, |, ^(or) (연산자 우선순위가 높음)

In [ ]:
print((10>3)&(10>5))  #연산자 앞 뒤로 true/false 면 논리연산

In [ ]:
print(12 & 1)  # 비트연산 12 : 1100
               #          1 : 0001  
print(12|1)

## 5.5 비교연산자 > >= < <= == !=

In [ ]:
'아' < '하'  #ㄱㄴㄷ 순으로 비교가능

In [ ]:
'*'<'1'<'A'<'a'  #아스키코드로 비교연산 가능 + 다항 비교연산 가능
#코드 순 : 특수문자 < 숫자 < 대문자 < 소문자

In [1]:
score = 85
80<=score<90<100

True