# <font color="#9932CC" size="10"><b>ch10. Pandas(데이터프레임,시리즈)</b></font>

# 1절. 판다스 패키지 
- 데이터 분석을 위해 반드시 알아야 할 패키지. 넘파이를 기반으로 하며, 다른 라이브러리와 잘 통합되어 설계됨.
- 1차원 구조를 갖는 시리즈, 2차원 구조를 갖는 데이터프레임을 제공
- 결측치 처리, 크기변경(열삭제/추가), 행삭제/추가, 데이터 정렬, 분할, 병합, 통계처리, 부분데이터 추출, 파일입출력, 레이블링, 시각화용이, .....

In [2]:
import numpy as np
np.pi

3.141592653589793

In [3]:
import pandas as pd
pd.__version__

'2.2.2'

In [5]:
data = pd.read_json('data/ch10_member1.json', encoding = 'CP949') #티폴트가 UTF-8, readjson은 알아서 닫아줘서 close 불필요
print(type(data))
data

<class 'pandas.core.frame.DataFrame'>

  name  age          email address
0  홍길동   20  hong@hong.com      서울
1  김김김   25   kim@hong.com      경기
2  박길동   30  park@hong.com      제주

In [13]:
data = pd.read_json("data/ch10_member2.json",encoding='utf-8') #UTF-8로 Read
data

  name  age          email address
0  홍길동   20  hong@hong.com      서울
1  김김김   25   kim@hong.com      경기
2  박길동   30  park@hong.com      제주

In [9]:
member1 = pd.read_csv('data/ch09_member1.csv', header=None,names=['name','age','email','address'],encoding='utf-8')

In [10]:
member1

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  김길남   41   gil@hong.com  서울시 강남구
3  진성빈   22  jean@bean.com  서울시 강서구
4  신승빈   35  bean@bean.com  서울시 강북구

# 2절. 데이터프레임 만들기
## 2.1 딕셔너리를 이용해서 데이터프레임 만들기

In [18]:
d = {'name':['홍길동','신길동'],'age':[20,30]}
df = pd.DataFrame(data=d)
df

  name  age
0  홍길동   20
1  신길동   30

## 2.2 리스트를 이용해서 데이터프레임 만들기

In [19]:
d = [{'name':'홍길동', 'age':20}, {'name':'신길동','age':30}]
df = pd.DataFrame(data=d)
df

  name  age
0  홍길동   20
1  신길동   30

## 2.3 read_csv()

In [20]:
df = pd.read_csv('data/전국 평균 평당 분양가격(2013년 9월부터 2015년 8월까지).csv',encoding='cp949')

In [25]:
df.shape #행과 열 출력

(17, 22)

In [26]:
df.head(2) #상위 2줄

,지역,2013년12월,2014년1월,2014년2월,2014년3월,2014년4월,2014년5월,2014년6월,2014년7월,2014년8월,...,2014년11월,2014년12월,2015년1월,2015년2월,2015년3월,2015년4월,2015년5월,2015년6월,2015년7월,2015년8월
0,서울,18189,17925,17925,18016,18098,19446,18867,18742,19274,...,20242,20269,20670,20670,19415,18842,18367,18374,18152,18443
1,부산,8111,8111,9078,8965,9402,9501,9453,9457,9411,...,9208,9208,9204,9235,9279,9327,9345,9515,9559,9581

In [29]:
pd.options.display.max_columns #최대 데이터 프레임의 표현될 수 있는 columns, 22개중 20개밖에 출력안됨..
pd.options.display.max_columns=22 #바꿔줄수있음

In [31]:
df.sample() #이제 다 보임

,지역,2013년12월,2014년1월,2014년2월,2014년3월,2014년4월,2014년5월,2014년6월,2014년7월,2014년8월,2014년9월,2014년10월,2014년11월,2014년12월,2015년1월,2015년2월,2015년3월,2015년4월,2015년5월,2015년6월,2015년7월,2015년8월
11,충남,6365,6365,6379,6287,6552,6591,6644,6805,6914,6882,6831,6940,6989,6976,6980,7161,7017,6975,6939,6935,6942

## 2.4 sklearn, statsmodels, searborn 등의 라이브러리에서 데이터프레임 불러오기

In [32]:
import statsmodels.api as sm
iris = sm.datasets.get_rdataset("iris", package = "datasets").data
iris

ModuleNotFoundError: No module named 'statsmodels'

In [33]:
pip install statsmodels

Collecting statsmodels
  Downloading statsmodels-0.14.2-cp312-cp312-win_amd64.whl.metadata (9.5 kB)
Requirement already satisfied: numpy>=1.22.3 in c:\users\user\.conda\envs\notebook\lib\site-packages (from statsmodels) (1.26.4)
Collecting scipy!=1.9.2,>=1.8 (from statsmodels)
  Downloading scipy-1.13.1-cp312-cp312-win_amd64.whl.metadata (60 kB)
     ---------------------------------------- 0.0/60.6 kB ? eta -:--:--
     ------ --------------------------------- 10.2/60.6 kB ? eta -:--:--
     ---------------------------------------- 60.6/60.6 kB 1.1 MB/s eta 0:00:00
Requirement already satisfied: pandas!=2.1.0,>=1.4 in c:\users\user\.conda\envs\notebook\lib\site-packages (from statsmodels) (2.2.2)
Collecting patsy>=0.5.6 (from statsmodels)
  Downloading patsy-0.5.6-py2.py3-none-any.whl.metadata (3.5 kB)
Requirement already satisfied: packaging>=21.3 in c:\users\user\.conda\envs\notebook\lib\site-packages (from statsmodels) (23.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\.conda\envs\notebook\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\.conda\envs\notebook\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\.conda\envs\notebook\lib\site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2024.1)
Requirement already satisfied: six in c:\users\user\.conda\envs\notebook\lib\site-packages (from patsy>=0.5.6->statsmodels) (1.16.0)
Downloading statsmodels-0.14.2-cp312-cp312-win_amd64.whl (9.8 MB)
   ---------------------------------------- 0.0/9.8 MB ? eta -:--:--
   -- ------------------------------------- 0.5/9.8 MB 16.3 MB/s eta 0:00:01
   ------ --------------------------------- 1.6/9.8 MB 20.2 MB/s eta 0:00:01
   ----------- ---------------------------- 2.8/9.8 MB 22.5 MB/s eta 0:00:01
   ------------------ --------------------- 4.5/9.8 MB 25.9 MB/s eta 0:00:01
   ------------------------- -------------- 6.3/9.8 MB 28.5 MB/s eta 0:00:01
   ----------------------------- ---------- 7.2/9.8 MB 27.1 MB/s eta 0:00:01
   --------------------------------- ------ 8.3/9.8 MB 26.4 MB/s eta 0:00:01
   ------------------------------------- -- 9.2/9.8 MB 25.4 MB/s eta 0:00:01
   ---------------------------------------- 9.8/9.8 MB 25.1 MB/s eta 0:00:00
Downloading patsy-0.5.6-py2.py3-none-any.whl (233 kB)
   ---------------------------------------- 0.0/233.9 kB ? eta -:--:--
   --------------------------------------- 233.9/233.9 kB 14.0 MB/s eta 0:00:00
Downloading scipy-1.13.1-cp312-cp312-win_amd64.whl (45.9 MB)
   ---------------------------------------- 0.0/45.9 MB ? eta -:--:--
   ---------------------------------------- 0.1/45.9 MB 3.6 MB/s eta 0:00:13
   ---------------------------------------- 0.3/45.9 MB 3.1 MB/s eta 0:00:15
    --------------------------------------- 0.6/45.9 MB 4.2 MB/s eta 0:00:11
    --------------------------------------- 1.0/45.9 MB 5.5 MB/s eta 0:00:09
   - -------------------------------------- 1.8/45.9 MB 7.9 MB/s eta 0:00:06
   - -------------------------------------- 1.9/45.9 MB 6.8 MB/s eta 0:00:07
   - -------------------------------------- 2.2/45.9 MB 7.5 MB/s eta 0:00:06
   --- ------------------------------------ 4.4/45.9 MB 11.8 MB/s eta 0:00:04
   ---- ----------------------------------- 5.3/45.9 MB 12.9 MB/s eta 0:00:04
   ----- ---------------------------------- 6.6/45.9 MB 14.0 MB/s eta 0:00:03
   ------ --------------------------------- 7.4/45.9 MB 14.8 MB/s eta 0:00:03
   -------- ------------------------------- 9.4/45.9 MB 16.7 MB/s eta 0:00:03
   --------- ------------------------------ 11.1/45.9 MB 24.2 MB/s eta 0:00:02
   ---------- ----------------------------- 12.6/45.9 MB 34.4 MB/s eta 0:00:01
   ------------ --------------------------- 14.1/45.9 MB 31.2 MB/s eta 0:00:02
   ------------- -------------------------- 15.4/45.9 MB 29.7 MB/s eta 0:00:02
   -------------- ------------------------- 16.2/45.9 MB 29.7 MB/s eta 0:00:01
   -------------- ------------------------- 16.9/45.9 MB 29.7 MB/s eta 0:00:01
   --------------- ------------------------ 18.1/45.9 MB 28.5 MB/s eta 0:00:01
   ---------------- ----------------------- 18.9/45.9 MB 25.2 MB/s eta 0:00:02
   ---------------- ----------------------- 19.5/45.9 MB 25.1 MB/s eta 0:00:02
   ------------------ --------------------- 20.8/45.9 MB 23.4 MB/s eta 0:00:02
   ------------------ --------------------- 21.6/45.9 MB 22.6 MB/s eta 0:00:02
   -------------------- ------------------- 23.0/45.9 MB 22.6 MB/s eta 0:00:02
   -------------------- ------------------- 23.8/45.9 MB 21.1 MB/s eta 0:00:02
   --------------------- ------------------ 25.0/45.9 MB 21.8 MB/s eta 0:00:01
   ---------------------- ----------------- 26.0/45.9 MB 21.8 MB/s eta 0:00:01
   ----------------------- ---------------- 26.7/45.9 MB 21.1 MB/s eta 0:00:01
   ----------------------- ---------------- 26.7/45.9 MB 21.1 MB/s eta 0:00:01
   ----------------------- ---------------- 27.3/45.9 MB 18.7 MB/s eta 0:00:01
   ------------------------ --------------- 28.1/45.9 MB 18.2 MB/s eta 0:00:01
   ------------------------- -------------- 29.0/45.9 MB 18.2 MB/s eta 0:00:01
   -------------------------- ------------- 30.2/45.9 MB 19.3 MB/s eta 0:00:01
   --------------------------- ------------ 31.0/45.9 MB 18.7 MB/s eta 0:00:01
   --------------------------- ------------ 32.0/45.9 MB 19.8 MB/s eta 0:00:01
   ---------------------------- ----------- 33.1/45.9 MB 18.7 MB/s eta 0:00:01
   ----------------------------- ---------- 34.2/45.9 MB 18.7 MB/s eta 0:00:01
   ------------------------------ --------- 34.9/45.9 MB 18.2 MB/s eta 0:00:01
   ------------------------------- -------- 36.0/45.9 MB 18.7 MB/s eta 0:00:01
   -------------------------------- ------- 36.8/45.9 MB 17.7 MB/s eta 0:00:01
   --------------------------------- ------ 38.1/45.9 MB 21.8 MB/s eta 0:00:01
   ---------------------------------- ----- 39.3/45.9 MB 23.4 MB/s eta 0:00:01
   ---------------------------------- ----- 39.6/45.9 MB 21.8 MB/s eta 0:00:01
   ----------------------------------- ---- 40.6/45.9 MB 20.5 MB/s eta 0:00:01
   ----------------------------------- ---- 41.0/45.9 MB 19.8 MB/s eta 0:00:01
   ------------------------------------- -- 42.6/45.9 MB 21.1 MB/s eta 0:00:01
   ------------------------------------- -- 43.0/45.9 MB 19.9 MB/s eta 0:00:01
   ---------------------------------------  45.2/45.9 MB 22.6 MB/s eta 0:00:01
   ---------------------------------------  45.9/45.9 MB 22.6 MB/s eta 0:00:01
   ---------------------------------------  45.9/45.9 MB 22.6 MB/s eta 0:00:01
   ---------------------------------------- 45.9/45.9 MB 18.7 MB/s eta 0:00:00
Installing collected packages: scipy, patsy, statsmodels
Successfully installed patsy-0.5.6 scipy-1.13.1 statsmodels-0.14.2
Note: you may need to restart the kernel to use updated packages.