In [ ]:
# 구버전
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:97% !important;}
div.CodeMirror {font-family:Consolas; font-size:22pt;}
div.output {font-size:22pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:22pt;}
div.prompt {min-width:70px;}
</style>
"""))

In [ ]:
# 새버전
from IPython.display import display, HTML
display(HTML("""
<style>
div.jp-WindowedPanel-outer.lm-Widget{padding:5px;}
div.lm-Widget{font-size:12pt;}
div.cm-content {font-family:Consolas; font-size:12pt;}
div.jp-OutputArea-output pre {font-size:12pt; font-weight:bold;}
input.jp-Stdin-input {font-family:Consolas; font-size:12pt;}
</style>
"""))

# 전국 신규 민간아파트 분양가격 동향 분석
* 2015부터 최근까지 부동산 가격 변동 추세가 아파트 분양가에도 반영될까?
* 공공데이터를 활용하여 데이터를 판다스 데이터프레임으로 가져와 전처리하고 요약한다
* 수치형 데이터와 범주형 데이터 다루기
* 데이터 형식에 따른 다양한 시각화 방법을 실습한다

## 다운로드
- https://www.data.go.kr에서 "아파트 분양 가격 동향"을 검색한 후, 자료를 다운받는다

# 1. 패키지로드 & 한글설정 & 경고메세지 ignore

In [ ]:
# 라이브러리 로드
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

# 시각화를 선명하게 표시되도록
%config InlineBackend.figure_format='retina'

#한글 폰트 설정
plt.rc("font", family="Malgun Gothic") # windows
# plt.rc('font', family='AppleGothic') # Mac
plt.rc("axes", unicode_minus=False) # y축

# 경고 메세지 안 보이게 
import warnings
warnings.filterwarnings(action='ignore')
# warnings.filterwarnings(action='default')

# 2. 데이터 로드

## ① 2013년9월부터 2015년8월까지 데이터는 df_first 변수에 담아 탐색

In [ ]:
# df_first

In [ ]:
# df_first 한줄 출력

In [ ]:
# 출력가능한 최대 컬럼수 출력

In [ ]:
# df_first의 모든 열이 나오도록 출력 가능한 최대 컬럼수 조정후 확인

In [ ]:
# df_first 마지막 1줄 출력

In [ ]:
# df_first 열별 데이터 갯수 및 타입 및 메모리 정보

In [ ]:
# 지역 컬럼을 index로 하여

In [ ]:
# heatmap 으로 부동산 가격을 시각화한다

## ② 이후 데이터는 df_last 변수에 담아 탐색

In [ ]:
# df_last

In [ ]:
# head로 파일을 5개만 미리보기합니다

In [ ]:
# tail로도 미리보기 합니다.

In [ ]:
# 데이터 요약하기(결측치가 있음) #분양가격(제곱미터)는 문자를 수치형으로 변경하여야 평당분양가격 계산 가능

# 3.df_last의 데이터 결측치를 확인하고 대체할지 고민한다

# 4. df데이터셋에 분양가격(제곱미터) 데이터의 타입변경 후 평당분양가격 추가

In [ ]:
# 분양가격(제곱미터) 컬럼이 문자형이라 수치형으로 변경한 후 평당분양가격 추가

In [ ]:
# 결측치가 있는 곳 출력하기

In [ ]:
# 기본적으로 '분양가격(제곱미터)' 컬럼은 str이지만 결측치가 있는 곳은 float로 나옴

In [ ]:
# df_last['분양가격(제곱미터)'].astype('float64') #특정열 데이터타입변경 에러 이유 : ' ' 땜시

In [ ]:
# df['월'].astype('int64')에러 나는 이유는 ?

In [ ]:
# 분양가격(제곱미터)컬럼이 공백이나 space인 행의 갯수

In [ ]:
# 분양가격이 빈스트링인 모든 데이터에 결측치 할당

In [ ]:
# 분양가격(제곱미터)컬럼이 공백이나 space인 행을 결측치로 할당한 후 갯수는 0인지 확인

In [ ]:
df_last.loc[6443] # 분양가격이 space였던 행 확인

In [ ]:
# df_last 요약정보
df_last.info()

In [ ]:
# 범주형일 때 기술통계 요약정보

In [ ]:
# '분양가격(제곱미터)' 컬럼의 타입을 float64로 변경하여 '제곱미터당분양가격'으로 한다

In [ ]:
# '제곱미터당분양가격' 컬럼의 기술통계 요약 (max가 아주 커서 mean과 중위수 차이남)

In [ ]:
# '평당분양가격' 컬럼 생성

In [ ]:
# df_last head로 데이터 2줄 확인

# 5. df_last데이터셋에서 전용면적 컬럼 추가(메모리 절약차원)

In [ ]:
df_last['규모구분'].unique()

In [ ]:
df_last['전용면적'] = df_last['규모구분'].str.replace('전용면적','')
df_last['전용면적'] = df_last['전용면적'].str.replace("제곱미터", "㎡")
df_last['전용면적'] = df_last['전용면적'].str.replace('초과','~')
df_last['전용면적'] = df_last['전용면적'].str.replace('이하','')
df_last['전용면적'] = df_last['전용면적'].str.replace(' ','').str.strip()
df_last.head()

In [ ]:
df_last.info()

# 6. 메모리 사용량을 줄이기 위해 사용하지 않을 컬럼(규모구분, 분양가격(제곱미터)컬럼)은 제거한 후 메모리 사용량을 전후로 확인

In [ ]:
#axis=1이 없으면 axis=0으로 되어 행제거하나 규모구분,분양가격이라는 행이 없어 에러
# "규모구분","분양가격(제곱미터)","제곱미터당분양가격" 컬럼 제거

In [ ]:
# 평당 분양가격이 결측치 값인 행 인덱스 출력

In [ ]:
# 평당 분양가격이 결측치 값인 행 제거
df_last.drop(df_last[df_last['평당분양가격'].isna()].index, inplace=True)

In [ ]:
# 결측치 데이터가 다 없어졌는지 확인

In [ ]:
# df_last 열별데이터갯수, 타입, 메모리 정보 확인

In [ ]:
# 전처리 완성된 데이터를 저장

# 7. GroupBy이용
 - groupby를 통해 데이터를 그룹화해서 연산
 - <font size="" color="red"><b>df_last.groupby(["인덱스로사용할컬럼명"])['계산할컬럼값"].연산()</b></font>
##  ① 지역별 데이터 수, 평당분양가격(평균)

In [ ]:
df_last.groupby?

In [ ]:
# 지역명별 결측치를 제외한 데이터 수

In [ ]:
# 지역별 평당분양가격 max값나 min값

In [ ]:
# 지역별 평당분양가격(평균)

In [ ]:
# 지역별 평당분양가격 min, max, mean, 사분위수

In [ ]:
# 전용면적별 평당분양가격(평균)

In [ ]:
# 지역별, 전용면적별 평당분양가격(평균)
 # 전용면적가 컬럼값으로 표

In [ ]:
# 연도별, 지역명별 평당분양가격

In [ ]:
# 위에ㅓ의 연도별, 지역명별 평당분양가격을 heatmap으로 시각화

# 8. 위의 그룹화한 내용을 막대그래프로 시각화

In [ ]:
# 지역별 평균 평당분양가격을 내림차순정렬하여 막대그래프로 시각화

In [ ]:
# 지역별 정렬된 평균 평당분양가격 lineplot

In [ ]:
# 전용면적별 평균  평당분양가격 그래프

In [ ]:
# 월별, 연도별 평당분양가격 변동

Boxplot (상자수염그림)
https://ko.wikipedia.org/wiki/%EC%83%81%EC%9E%90_%EC%88%98%EC%97%BC_%EA%B7%B8%EB%A6%BC

In [ ]:
# 위의 월별, 연도별, 평당분양가격 boxplot

In [ ]:
# 위의 월별, 연도별, 평당분양가격 lineplot => 월별, 연도별 분양가 상한선 확인

In [ ]:
# boxplot으로 지역별 평당분양가격 시각화

# 9. seaborn으로 시각화(위에서 그린 시각화내용을 일부또는 그 이상을 seaborn으로 시각화)

## ① 지역별 평당분양가격(평균)

In [ ]:
# 지역별 평당 분양가격

In [ ]:
# 만약 정렬을 원한다면 groupby후 sort_values()한후 시각화한다.

## ② 연도별 평당분양가격(평균)

In [ ]:
# 연도별 평당분양가격 barplot

In [ ]:
# 년도별 평균 평당분양가격의 추이

In [ ]:
# 년도별 지역별 평균 평당분양가격

In [ ]:
# 연도별 평당분양가격의 사분위수(boxplot)

In [ ]:
# 연도별 평당분양가격의 사분위수와 분포

In [ ]:
# 연도별 전용면적별 boxenplot

In [ ]:
# boxplot으로 지역별 평당분양가격을 그려봅니다.

# 10.	구조가 다른 df_first와 df_last의 전용면적 전체의 데이터를 하나의 같은 데이터 셋으로 합쳐서 분석을 한다. 분석은 위의 내용을 참조하여 각자 분석한다(전용면적별 분석 불가)

In [ ]:
df_first.sample()

- melt 도움말
    - https://pandas.pydata.org/docs/user_guide/reshaping.html
- tidy data
    - https://vita.had.co.nz/papers/tidy-data.pdf

In [ ]:
new_first = df_first.melt(id_vars="지역", 
                          var_name="연도월", 
                          value_name="평당분양가격")
new_first.head()
# melt를 통해 녹인 연도월 데이터는 전처리하기 편하게 데이터로 옴

In [1]:
def parse_year(x):
    return int(x.split("년")[0])
parse_year("2013년12월")

2013

In [2]:
def parse_month(x):
    return int(x.split("년")[-1].replace("월",""))
parse_month("2013년12월")

12

In [ ]:
# "연도월" 컬럼을 "연도"컬럼과 "월"컬럼으로 분리한다(lambda함수 이용)

In [ ]:
# "연도월" 컬럼을 제거하고, 컬럼명을 ["지역명","평당분양가격","연도","월"]로 수정

In [ ]:
#df_last 데이터 중 "전용면젹"이 "모든면적"인 데이터만 복사한다(깊은복사)

# "전용면적"컬럼 제거

new_last.head()

In [ ]:
# new_first와 new_last 행병합

df.sample()

In [ ]:
# index 재조정
df.index = range(df.shape[0])
df.head()