# <font color="red" size="10"><b>ch03. 데이터 구조</b></font>
    - 리스트 [], 튜플 (), 딕셔너리 {구조체와 유사}, 셋(집합)

# 1절. 리스트
## 1.1 리스트 만들기
    - [] 이용
    - 인덱스 : 0부터 시작, -1은 맨 마지막 인덱스 (인덱스로 리스트 접근)
    - 슬라이싱 : [from:to:step]을 이용하여 추출

In [3]:
fruits = ['banana', 'apple', 'orange', 'grape', 0]  #동일자료형 아니어도 됨
type(fruits)  #리스트 자료형

list

In [5]:
print(fruits)  #for문 필요없이 프린트됨
print(fruits[0])

['banana', 'apple', 'orange', 'grape', 0]
banana

In [6]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape', 0]

In [9]:
for fruit in fruits:
    print(fruit)

mango
apple
orange
grape
0

In [19]:
range(5)

range(0, 5)

In [23]:
list(range(5)) #range 안의 개수만큼 리스트 만들어줌

[0, 1, 2, 3, 4]

In [25]:
len(fruits) #list fruits 요소의 갯수

5

In [26]:
list(range(len(fruits)))

[0, 1, 2, 3, 4]

In [29]:
for i in range(len(fruits)):
    print("{}번쨰 과일은 {}".format(i, fruits[i]))

0번쨰 과일은 mango
1번쨰 과일은 apple
2번쨰 과일은 orange
3번쨰 과일은 grape
4번쨰 과일은 0

In [30]:
for idx, value in enumerate(fruits):
    print("{}번째 과일은 {}".format(idx, value))

0번째 과일은 mango
1번째 과일은 apple
2번째 과일은 orange
3번째 과일은 grape
4번째 과일은 0

## 1.2 기본정보 조회

In [33]:
numbers = [1,2,3,4]
print("요소의 수 : ",len(numbers))
print("최소값 :", min(numbers))
print("최대값 :", max(numbers))

요소의 수 :  4
최소값 : 1
최대값 : 4

## 1.3 요소 추가

In [35]:
# + 두 리스트를 연결
# 리스트 * n : 리스트를 n만큼 반복 
# append() : 요소 뒤에 추가
# extend() : 리스트의 요소별로 뒤에 추가

In [37]:
numbers = [1,2,3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [49]:
numbers = [1,2,3] 
print(numbers *3)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [50]:
numbers.append(4)
numbers

[1, 2, 3, 4]

In [67]:
numbers = [1,2,3,4]
num = [5,6]
#numbers 를 [1,2,3,4,5,6] vs [1,2,3,4,[5,6]]
numbers.append(num)
numbers

[1, 2, 3, 4, [5, 6]]

In [64]:
numbers = [1,2,3,4]
num = [5,6]
numbers.extend(num)
numbers

[1, 2, 3, 4, 1, 2, 3, 4]

In [62]:
numbers = [1,2,3,4]
numbers.append("hello")
numbers

[1, 2, 3, 4, 'hello']

In [63]:
numbers = [1,2,3,4]
numbers.extend("hello")
numbers

[1, 2, 3, 4, 'h', 'e', 'l', 'l', 'o']

## 1.4 인덱싱
    - index(찾고자 하는 값, 숫자) : '찾고자 하는 값'이 '숫자'번 인덱스부터 찾아 그 위치를 반환
    - count(찾고자 하는 값) : 찾고자하는 값이 몇 번 나오는지 counter를 반환

In [68]:
numbers = [1,2,3,[1,2,3],1,2,3]
print("2가 몇개인지 : {}".format(numbers.count(2)))

2가 몇개인지 : 2

In [69]:
2 in numbers #numbers 안에 2가 있는지 여부 T/F

True

In [70]:
numbers.index(2,3)  #3번째 인덱스부터 2가 처음 나오는 인덱스를 반환

5

## 1.5 리스트의 원하는 내용만 추출
    - 슬라이싱 [from:to:step] ; 원하는 인덱스의 값 추출
    - 리스트 컴프리헨션을 이용  ; 원하는 데이터만 추출

In [75]:
numbers = [1,3,5,9,10,12,13,18,19,20]
numbers[::-1]

[20, 19, 18, 13, 12, 10, 9, 5, 3, 1]

In [72]:
numbers[::2] # 슬라이싱으로는 원하는 인덱스의 값을 가져올 수 있음 ; 원하는 내용만, 값만 가져오는 것은

[1, 5, 10, 13, 19]

In [77]:
# 값이 짝수인 데이터만 추출
result = []
for num in numbers:
    if num%2 == 0:
        result.append(num)
result
## 리스트 컴프리헨션을 모르면 이렇게 4~5줄정도에 걸쳐서 추출해야함 ##

[10, 12, 18, 20]

In [79]:
result = [num for num in numbers if num%2==0]
result

[10, 12, 18, 20]

In [83]:
#numbers 리스트의 제곱값을 리스트로 생성하여라
result = [num**2 for num in numbers]
result

[1, 9, 25, 81, 100, 144, 169, 324, 361, 400]

In [87]:
#과일의 글자가 5글자 이상인 과일을 추출
fruits = ['orange', 'apple',' mango', 'kiwi']
[fruit for fruit in fruits if len(fruit)>=5]

['orange', 'apple', ' mango']

In [88]:
#과일의 글자가 7글자 이상인 과일의 글자수를 출력하세요

In [98]:
[len(f) for f in fruits if len(f)>=5]

SyntaxError: invalid syntax (3228303007.py, line 1)

## 1.6 삭제하기
    - remove(data) : 해당 data가 제거
    - del 리스트변수[idx] : idx번째 요소 제거
    - pop() : 가장 마지막 인덱스 요소가 return 되고 삭제

In [93]:
numbers = [1,2,3,4]
print(numbers.pop())
print(numbers)

4
[1, 2, 3]

In [94]:
numbers.remove(3)
print(numbers)

[1, 2]

In [95]:
numbers.remove(9) #없는 데이터 remove 시 에러가 난다.

ValueError: list.remove(x): x not in list

In [96]:
del numbers[0]
print(numbers)

[2]

In [97]:
del numbers
numbers

NameError: name 'numbers' is not defined

## 1.7 정렬하기

In [99]:
numbers = [9,10,1,5,5]
numbers.sort()
numbers

[1, 5, 5, 9, 10]

In [100]:
numbers = [9,10,1,5,5]
numbers.sort(reverse=True)
numbers

[10, 9, 5, 5, 1]

## 1.8 리스트 복제

In [101]:
numbers = [6,1,2]
new_numbers = numbers; #얕은복사 
numbers.sort()
print("정렬전 데이터 :", new_numbers)
print("정렬후 데이터 :", numbers)

정렬전 데이터 : [1, 2, 6]
정렬후 데이터 : [1, 2, 6]

# 2절. 튜플
    - 리스트와 유사하지만 읽기전용
    - ()이용해 생성

In [105]:
city = ('서울','부산','광주','대전')
print(type(city))
print(city)

<class 'tuple'>
('서울', '부산', '광주', '대전')

In [106]:
'~'.join(city)

'서울~부산~광주~대전'

In [107]:
city

('서울', '부산', '광주', '대전')

In [108]:
'~'

'~'

In [109]:
list_=['서울'] #한개만 있어도 리스트임
type(list_)

list

In [111]:
t = ('서울') #요소가 하나인 튜플은 뒤에 콤마가 필요함
print(type(t))
t = ('서울',)
print(type(t))

<class 'str'>
<class 'tuple'>

# 3절 딕셔너리
    - 구조체와 유사
    - {}를 이용하여 생성. key-value 쌍으로 구성
    - 값(value)는 중복 가능하나 key는 중복 불가능 
    - index를 이용한 참조 불가능

In [124]:
dic = {'name':'홍길동', 'address':'서울시 금천구'}
print(type(dic))
print(dic)

<class 'dict'>
{'name': '홍길동', 'address': '서울시 금천구'}

In [125]:
dic['name'] , dic['address']  #뭔가를 콤마,콤마 해서 접근하면 튜플로 열림..!

('홍길동', '서울시 금천구')

In [126]:
dic['score'] # 없는거라 에러남 , 에러 방지하기 위해 함수 하나 만든다.

KeyError: 'score'

In [127]:
dic.get('name'), dic.get('address'), dic.get('score')

('홍길동', '서울시 금천구', None)

In [129]:
# 수정
dic['score'] = 100
dic['sport'] = 'sleep'
print(dic)

{'name': '홍길동', 'address': '서울시 금천구', 'score': 100, 'sport': 'sleep'}

In [130]:
dic.pop('sport')

'sleep'

In [134]:
#리스트,튜플,셋 방식으로 for문을 딕셔너리에서도 사용시, key만 출력됨. data는 나오지 않음
for key in dic:
    print(key)

for idx, value in enumerate(dic):
    print(idx,value)

name
address
score
0 name
1 address
2 score

In [136]:
#dict 에서 사용하는 함수
dic.keys()

dict_keys(['name', 'address', 'score'])

In [137]:
dic.values()

dict_values(['홍길동', '서울시 금천구', 100])

In [139]:
dic.items() #둘다 보고싶으면 items, 이러면 튜플 형태로 쌍으로 나옴

dict_items([('name', '홍길동'), ('address', '서울시 금천구'), ('score', 100)])

In [140]:
for data in dic.values():
    print(data)

홍길동
서울시 금천구
100

In [142]:
for key, value in dic.items():
    print(key,value)

name 홍길동
address 서울시 금천구
score 100

In [144]:
l = ['a','b','c']
'c' in l

True

In [145]:
'name' in dic #dict 에서는 in 연산자가 key값의 여부를 나타냄, value는 X

True

In [146]:
"홍길동" in dic

False

In [147]:
len(dic) #key개수

3

# 4절. 셋
    - 중복을 허용하지 않는 집합(순서X -> 인덱스X,슬라이싱이 안된다.)
    #로또번호 같은거 관리하기에 딱좋음

In [156]:
fruits = {'apple','orange','banana','banana', 0, 0} #중복된 바나나는 없어짐, 순서도 바껴버림, 동일자료형 아니어도됨
print(fruits)
print(type(fruits))

{0, 'apple', 'banana', 'orange'}
<class 'set'>

In [159]:
fruits.add("kiwi")

In [160]:
for i, value in enumerate(fruits):
    print("{}:{}".format(i,value))  #순서가 의미가 없어서 비추

0:0
1:apple
2:banana
3:kiwi
4:orange

In [161]:
for data in fruits:
    print(data)

0
apple
banana
kiwi
orange

# 5절. 연습문제

In [176]:
numbers = [1,2,3,4,5,6,7,8,9,10]
numbers.append(100)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]

In [177]:
data = [200,300,400,500]
numbers.extend(data)
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]

In [178]:
print(numbers[0:5:1])

[1, 2, 3, 4, 5]

In [179]:
print(numbers[1::2])

[2, 4, 6, 8, 10, 200, 400]

In [182]:
numbers[1::2] = "0"
numbers

ValueError: attempt to assign sequence of size 1 to extended slice of size 7

In [180]:
print(numbers[::-1])

[500, 400, 300, 200, 100, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [186]:
member = {'name':"홍길동","age":20,"address":"서울시 금천구", 'score':90}
print(member["address"])

서울시 금천구

In [187]:
member.pop("score")

90

In [188]:
member["address"] = "서울시 서대문구"
print(member)

{'name': '홍길동', 'age': 20, 'address': '서울시 서대문구'}