# <font color="#9932CC" size="10"><b>ch05. 함수</b></font>
    - 반복해서 사용할 코드를 묶어서 구현해 높은 것
    - 같은 이름의 함수는 덮어씀(오버로딩 불가)
    - 함수 정의(구현)
    ```
        def 함수명 ([인수, 인수2, ...]): #인수가 튜플, 딕셔너리 등등 많이 있는데 순서를 잘 지켜줘야함
            명령어1
            명령어2
    ```

# 1절. 함수의 정의 및 사용(호출)
## 1.1

In [ ]:
def my_hello(x, msg): #함수정의, 매개변수 2개짜리 함수
    for i in range(x):
        print(i, msg)

In [ ]:
my_hello(4,'쉬는시간입니다.')

In [ ]:
type(my_hello) #함수도 변수다! data type function

In [ ]:
my_hello = 10 
type(my_hello)  #이러면 이제 함수가아님 int type

In [ ]:
def my_hello(x):
    for i in range(x):
        print(i, "함수는 복습 필수")

my_hello(1,2) #매개변수개수 안맞으면 에러남

In [ ]:
# print 같은 경우는 매개변수 개수가 상관없는데 ? 어떻게하지
def my_add(num1,num2,num3=0): #num3은 기본값을 갖는 인수
                        #기본값을 갖는 인수는 순서인수 뒤에, 순서 잘 지켜줘야함
    return num1 + num2 + num3 
print(my_add(1,2,3))
print(my_add(1,2))

## 1.2 docstring
    - 함수 도움말 : shift + tab 으로 볼 수 있음

In [ ]:
# def fibonacci(n):
#     """
#     매개변수로 들어온 n값 미만의 피보나치 수열을 출력하는 함수
#     ex. 인수(매개변수)로 10 : 0, 1, 1, 2, 3, 5, 8  (13은 10이상이니까 출력X)
#     ex. 인수로 5 : 0. 1. 1. 2. 3. 5
#     """
#     a,b = 0,1   #이렇게 선언하면 내부적으로 (a,b) (0,1) 튜플이 됨
#     while a<n:
#         print(a, end=". ")
#         a,b = b,a+b
#     print() #개행

In [1]:
fibonacci

NameError: name 'fibonacci' is not defined

In [ ]:
__name__

In [ ]:
if __name__ == '__main__' :
    fibonacci(100)

In [7]:
import fibonacci as fibo  #aias를 줄 수 있다.
fibo.fibonacci(5)

0. 1. 1. 2. 3.

## 1.3 지역변수(local var) 와 전역변수(global var)

In [12]:
global_var = 100 #전역변수 
def func1() :
    print(global_var)
    
func1()
print(global_var)

100
100

In [13]:
def func2():
    local_var = 100
    print(local_var)  #얘는 지역변수, 함수 내에서만 사용 가능한 변수
func2()

100

In [20]:
g_var = 100 #전역변수
def func3():
    g_var = 200  #이러면 지역변수임..! 지역변수 선언
    print(g_var)
func3()

200

In [17]:
g_var #얘는 전역변수 호출

100

In [21]:
g_var = 100 #전역변수
def func3():
    print(g_var)    #이러면 에러남 지역변수 할당이 아직 안돼서...
    g_var = 200  
    print(g_var)
func3()

UnboundLocalError: cannot access local variable 'g_var' where it is not associated with a value

## 1.4 Lexical 특성

## 1.5 전역변수 수정

In [22]:
g_var = 100 #전역변수
def func3():
    global g_var  #함수 내에서 g_var는 전역변수로 쓴다고 선언
    print(g_var)    #이러면 에러남 지역변수 할당이 아직 안돼서...
    g_var = 200     #전역변수에 값을 할당하려하지만 함수는 모름 -> 전역변수 사용 선언을 하면 괜찮아짐
    print(g_var)
func3()

100
200

## 1.6 값에 의한 호출 (call by value)
    - 함수에 인수로 전달되는 변수가 스칼라 변수(숫자, 문자, 논리)일 경우

In [28]:
foo = 'ab' #스칼라변수
id(foo)

2439531314080

In [27]:
def func1(f) :
    print("Before : {}의 주소는 {}".format(f,id(f)))
    f *= 3 #매개변수는 지역변수
    print("after : {}의 주소는 {}".format(f,id(f)))

func1(foo)
print("함수 호출 후 foo : {}의 주소는 {}".format(foo,id(foo)))  #할당 될떄마다 주소가 바뀌니까 callbyvalue

Before : ab의 주소는 2439531314080
after : ababab의 주소는 2437455005760
함수 호출 후 foo : ab의 주소는 2439531314080

## 1.7 참조에 의한 호출 (call by reference)

In [33]:
L = [1,2,3]
print("L의 내용은 {}, 주소는 {}".format(L,id(L)))

L의 내용은 [1, 2, 3], 주소는 2437455655488

In [34]:
def func2(f) :
    print("함수 내 before : L의 내용은 {}, 주소는 {}".format(L,id(L)))
    f.append(4)
    print("함수 내 after : L의 내용은 {}, 주소는 {}".format(L,id(L)))

func2(L)
print("L의 내용은 {}, 주소는 {}".format(L,id(L)))

함수 내 before : L의 내용은 [1, 2, 3], 주소는 2437455655488
함수 내 after : L의 내용은 [1, 2, 3, 4], 주소는 2437455655488
L의 내용은 [1, 2, 3, 4], 주소는 2437455655488

# 2절. 함수의 실행결과를 반환하는 return
    - 여러개의 값을 반환할 수 있다. (하나의 튜플로 바뀜)

In [36]:
#여러값을 return
def swap(a,b) :
    return b,a  #x,y = 5,10 처럼 (b,a) 튜플로 return됨 , 튜플로 return 된 다음에 각각 대입됨

In [40]:
x,y = 5,10
print("함수 실행 전 x={},y={}".format(x,y))
x,y = swap(x,y)
print("함수 실행 후 x={},y={}".format(x,y))

함수 실행 전 x=5,y=10
함수 실행 후 x=10,y=5

# 3절. 함수의 매개변수
## 3.1 기본값을 갖는 매개변수

In [41]:
def make_url(ip, port=80):  #여기서 port는 키워드인수는 아님
    #순서인수, 기본값을 갖는 인수 순으로 
    return "http://{}:{}".format(ip,port)  #포트번호 안적으면 80이다~

In [44]:
print(make_url("localhost"))
print(make_url("localhost",8090))
print(make_url(port=8090, ip="localhost"))  #이렇게도 가능

http://localhost:80
http://localhost:8090
http://localhost:8090

## 3.2 튜플 매개변수로 이용한 가변인수(인수갯수가 가변) 설정

In [46]:
#대표적인 예가 print 임
print('Hello', 'World') #인수의 갯수가 가변 = 가변인수 -> 이거를 튜플 매개변수로 만듬

Hello World

In [60]:
# args 앞에 * : args가 튜플로 전달  -> 튜플 매개변수
def add(*args):
    # print("전달받은 args :", args)
    # print(type(args))
    sum = 0
    for num in args:
        sum += num
    return sum

In [55]:
add( (1,2,3) )  #매개변수에 튜플을 넣어야함. 그런데 이렇게 하기 싫다. 프린트처럼 간단하게 하고싶음
#그렇게 알아서 받으라고 하는게 *임

전달받은 args : ((1, 2, 3),)
<class 'tuple'>

TypeError: unsupported operand type(s) for +=: 'int' and 'tuple'

In [57]:
add(1,2,3)  #이러면 1,2,3 = *args 가 되면서 매개변수를 튜플로 받음

전달받은 args : (1, 2, 3)
<class 'tuple'>

6

In [61]:
print(add(1,2,3,4,5,6)) #이제 매개변수 여러개여더 됨
print(add(1,2))
print(add(1))

21
3
1

In [62]:
#두개 매개변수를 서로 다르게 받는 경우
def concat(*args,sep) :
    return sep.join(args)

In [65]:
concat("C","Python","oracle","~") # 이렇게 넣으면 C~Python~oracle 이렇게 나오게 하고 싶음,
#그런데 이렇게 하면 어디까지가 튜플인지 판단하는게 문제가 생김, 전체가 튜플로 인식

In [66]:
#해결책 1  (비추)
concat("C","Python","oracle", sep="~")  #print가 이 형태임
# 이때는 sep = 무조건 해줘야해서 비추 , 함수 정의부터 잘못됨..!

'C~Python~oracle'

In [67]:
#해결책 2
def concat(sep, *args) :  #순서인수>튜플인수  순서를 반드시 지켜라!
    return sep.join(args) #이렇게 하면 무조건 순서인수 하나를 써야해서 순서인수를 받는다.

In [68]:
concat("~","C","Python","oracle")

'C~Python~oracle'

In [70]:
#해결책 3 (강추)
def concat(*args,sep="/") :   #순서인수 > 튜플인수 > 키워드인수(기본값을 갖는 매개변수)
    return sep.join(args)

In [71]:
concat("C","Python","oracle", sep="~")

'C~Python~oracle'

## 3.3 딕셔너리 매개변수

In [79]:
def func(**args): #*두개면 args를 받아서 딕셔너리로 전달됨
    # print(args)
    # print(type(args))
    for key, value in args.items():
        print("{} : {}".format(key, value))

In [80]:
dic = {"name":"홍길동","age":20}  #이렇게하면 ** 쓸 이유가 없다 ㄴㄴ
#func(dic)
func(name="홍길동",age=20)

name : 홍길동
age : 20

In [81]:
func(gameName="서바이벌C",year=2024,price=33000)

gameName : 서바이벌C
year : 2024
price : 33000

## 3.4 함수 정의시 매개변수의 순서
- 순서인수 > 튜플인수(*) > 키워드인수(매개변수이름을 명시) > 딕셔너리인수(**)

In [84]:
def func(a,b,c,*d,e=10,**f) :
    print('a=',a)
    print('b=',b)
    print('c=',c)
    print('d=',d)
    print('e=',e)
    print('f=',f)

In [85]:
func(10,20,30,1,2,3,4,5,e=100,height=180,name="홍길동",address="서울시")

a= 10
b= 20
c= 30
d= (1, 2, 3, 4, 5)
e= 100
f= {'height': 180, 'name': '홍길동', 'address': '서울시'}

## 3.5 인수의 언패킹
### *튜플인수 언패킹

In [87]:
# args 앞에 * : args가 튜플로 전달  -> 튜플 매개변수
def add(*args):
    # print("전달받은 args :", args)
    # print(type(args))
    sum = 0
    for num in args:
        sum += num
    return sum

In [88]:
data = (1,2,3)  #데이터는 튜플이어야함
add(*data)   #함수에도 *로 패킹, 전달할때도 *로 패킹, 알아서 풀어서 튜플로 받도록 함

6


### *딕셔너리 인수 언패킹

In [94]:
def func(**args): #*두개면 args를 받아서 딕셔너리로 전달됨
    # print(args)
    # print(type(args))
    for key, value in args.items():
        print("{} : {}".format(key, value))

func(name="홍길동",age=30)  #이러면 패킹해서 알아서 받음

In [96]:
dic = {"name":"홍길동","age":30}  #딕셔너리 변수
# func("홍길동") #이렇게 주면 에러남 
func(**dic)

name : 홍길동
age : 30

# 4절. 람다식
- 람다식은 작은 익명함수를 의미함
- 실행할 문장을 한 문장만 작성할 수 있음
- 리스트 컴프리헨션과 같이 참조해서 학습 추천
- map, filter()에서 사용할 예정

In [97]:
# 일반함수
def add(a,b):
    return a+b
add(3,5)

8

In [98]:
type(add) #add는 함수형이다 라고 딱 나옴

function

In [104]:
#람다식으로 표현
add = lambda a, b : a+b

In [106]:
add(5,5)

10

In [107]:
type(add)

function

In [109]:
#변수에 대입하지 않고도 사용가능
(lambda a,b : a+b)(5,6)

11

## * 매개변수로 람다식 이용

In [111]:
f = lambda x : x**2
f(3)

9

In [112]:
def map_template(func, L=[]):
    result = []
    for data in L:
        result.append(func(data))
    return result

In [114]:
list_data = [1,2,3,4,5]
map_template(lambda x : x**2, list_data)
# 이 map_Template를 하두 많이 써서 기본제공이됨

[1, 4, 9, 16, 25]

In [115]:
list(map(lambda x:x*2,list_data))

[2, 4, 6, 8, 10]

In [116]:
# 리스트 컴프리헨션 이용
[x*2 for x in list_data]  #간단한건 리스트 컴프리헨션 많이 이용

[2, 4, 6, 8, 10]

In [118]:
# Filter

In [121]:
list_data = list(range(0,20))

In [120]:
def filter_template(func, L=[]):
    result = []
    for data in L:
        if func(data):
            result.append(data)
    return result

In [122]:
filter_template(lambda x : x%2==0,list_data)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [125]:
list(filter(lambda x : x%2==0, list_data))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [126]:
# 리스트 컴프리헨션 이용하는 방법
[x for x in list_data if x%2==0]

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

# 5절. 파이썬 내장 함수

# 연습문제

In [141]:
#함수의 인자로 리스트, 리스트 정수값 최대 최소 리턴
def get_max_min(data_list) :
    maxdata = max(data_list)
    mindata = min(data_list)
    return maxdata,mindata
lst = [1,2,6,10,32,4]
print(get_max_min(lst))

(32, 1)

In [137]:
#로또 생성 함수 make_lotto()
import random
def make_lotto() :
    lotto = set()
    while len(lotto)<6:
        lotto.add(random.randint(1,45))
    lotto = list(lotto)
    lotto.sort()
    return lotto
    
make_lotto()

[3, 13, 14, 20, 30, 35]

In [153]:
num = [1,2,3,4,5,6,7,8,13,33]
type(num[0])

int

In [179]:
#369 게임
#1단계
def game_369(numbers) :
    result = []
    for i in numbers :
        three = 0
        three+=str(i).count("3")
        three+=str(i).count("6")
        three+=str(i).count("9")
        if(three!=0):
            result.append( "짝"*three)
        else :
            result.append(numbers[i])
    print(result)

num = [1,2,3,4,5,6,7,8,13,33,36,999]
game_369(num)

[2, 3, '짝', 5, 6, '짝', 8, 13, '짝', '짝짝', '짝짝', '짝짝짝']

In [191]:
#2단계 튜플인수이용
#369 게임
#1단계
def game_369(*numbers) :
    result=[]
    for i in numbers :
        three = 0
        three+=str(i).count("3")
        three+=str(i).count("6")
        three+=str(i).count("9")
        if(three!=0):
            result.append( "짝"*three)
        else :
            result.append(i)
    print(result)
num = (1,2,3,4,66,999)
game_369(*num)
game_369(1,2,3,4,66,999)

[1, 2, '짝', 4, '짝짝', '짝짝짝']
[1, 2, '짝', 4, '짝짝', '짝짝짝']