# <font color="#9932CC" size="10"><b>ch09. 파일입출력</b></font>

# 1절. 파일에 데이터를 저장하고 불러오기

In [4]:
# w: 있는 파일은 기존의 파일에 덮어쓰고 없는 파일은 생성 (쓰기전용)
# a: 있는 파일은 추가/ 없는 파일은 생성 (쓰기전용)
# r: 읽기 전용
f = open('data/ch09.txt', 'w') #encoding 기본값 cp949
print(f.writable())

True

In [2]:
f.write('Hello\nWorld\nHello\nPython\n반갑습니다.')  #한글은 cp949, utf-8원하면 파일 열때 utf-8로 열었어야함

25

In [6]:
f.close() #close 안하면 write 해도 안보임

In [7]:
with open('data/ch09.txt','r') as f: #f는 with절에서만 쓸 수 있는 지역변수임
    data = f.readlines()
    print(data)

['Hello\n', 'World\n', 'Hello\n', 'Python\n']

In [8]:
with open('data/ch09.txt', 'w') as f:
    print('python is easy\n', file=f) #file 키워드 인수 사용시, 화면에 출력

In [12]:
# UTF-8로 인코딩 된 CSV파일을 read
with open('data/ch09_member1.csv','r',encoding='utf-8') as f:
    data = f.readlines()
    for row in data:
        print(row)  #이렇게 말고 엑셀처럼 list나 dict타입으로 받으면 좋을듯

홍길동,20,hong@hong.com,서울시 강동구

박길서,33,park@hong.com,서울시 강서구

김길남,41,gil@hong.com,서울시 강남구

진성빈,22,jean@bean.com,서울시 강서구

신승빈,35,bean@bean.com,서울시 강북구

In [13]:
import pandas as pd
member1 = pd.read_csv('data/ch09_member1.csv', header=None)
member1.columns = ['이름','나이','이메일','주소']
member1

    이름  나이            이메일       주소
0  홍길동  20  hong@hong.com  서울시 강동구
1  박길서  33  park@hong.com  서울시 강서구
2  김길남  41   gil@hong.com  서울시 강남구
3  진성빈  22  jean@bean.com  서울시 강서구
4  신승빈  35  bean@bean.com  서울시 강북구

In [4]:
import pandas as pd

In [19]:
member1.columns = ['name','age','email','address']

In [6]:
member1

    이름  나이            이메일       주소
0  박길서  33  park@hong.com  서울시 강서구
1  김길남  41   gil@hong.com  서울시 강남구
2  진성빈  22  jean@bean.com  서울시 강서구
3  신승빈  35  bean@bean.com  서울시 강북구

In [7]:
type(member1)

pandas.core.frame.DataFrame

In [15]:
member2 = pd.read_csv('data/ch09_member2.csv', nrows=3) #3줄만 열어라 라는 뜻
member2

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  김길남   41   gil@hong.com  서울시 강남구

In [20]:
member = pd.concat([member1,member2])
member

  name  age          email  address
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  김길남   41   gil@hong.com  서울시 강남구
3  진성빈   22  jean@bean.com  서울시 강서구
4  신승빈   35  bean@bean.com  서울시 강북구
0  홍길동   20  hong@hong.com  서울시 강동구
1  박길서   33  park@hong.com  서울시 강서구
2  김길남   41   gil@hong.com  서울시 강남구

AttributeError: module 'pandas' has no attribute 'member'