In [1]:
import seaborn as sns
iris = sns.load_dataset("iris")
iris.sample(1)

     sepal_length  sepal_width  petal_length  petal_width    species
113           5.7          2.5           5.0          2.0  virginica

In [2]:
iris.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
x = iris.iloc[:,:-1]
y = iris.loc[:,'species'].to_frame()

In [4]:
temp = iris[:50]

In [6]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  50 non-null     float64
 1   sepal_width   50 non-null     float64
 2   petal_length  50 non-null     float64
 3   petal_width   50 non-null     float64
 4   species       50 non-null     object
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [10]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  50 non-null     float64
 1   sepal_width   50 non-null     float64
 2   petal_length  50 non-null     float64
 3   petal_width   50 non-null     float64
 4   species       50 non-null     object
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [12]:
temp.describe(include = "all")

        sepal_length  sepal_width  petal_length  petal_width species
count       50.00000    50.000000     50.000000    50.000000      50
unique           NaN          NaN           NaN          NaN       1
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean         5.00600     3.428000      1.462000     0.246000     NaN
std          0.35249     0.379064      0.173664     0.105386     NaN
min          4.30000     2.300000      1.000000     0.100000     NaN
25%          4.80000     3.200000      1.400000     0.200000     NaN
50%          5.00000     3.400000      1.500000     0.200000     NaN
75%          5.20000     3.675000      1.575000     0.300000     NaN
max          5.80000     4.400000      1.900000     0.600000     NaN

In [9]:
iris_versicolor = iris.iloc[:,:-1][iris['species']=='versicolor']
iris_versicolor

    sepal_length  sepal_width  petal_length  petal_width
50           7.0          3.2           4.7          1.4
51           6.4          3.2           4.5          1.5
52           6.9          3.1           4.9          1.5
53           5.5          2.3           4.0          1.3
54           6.5          2.8           4.6          1.5
55           5.7          2.8           4.5          1.3
56           6.3          3.3           4.7          1.6
57           4.9          2.4           3.3          1.0
58           6.6          2.9           4.6          1.3
59           5.2          2.7           3.9          1.4
60           5.0          2.0           3.5          1.0
61           5.9          3.0           4.2          1.5
62           6.0          2.2           4.0          1.0
63           6.1          2.9           4.7          1.4
64           5.6          2.9           3.6          1.3
65           6.7          3.1           4.4          1.4
66           5.6          3.0           4.5          1.5
67           5.8          2.7           4.1          1.0
68           6.2          2.2           4.5          1.5
69           5.6          2.5           3.9          1.1
70           5.9          3.2           4.8          1.8
71           6.1          2.8           4.0          1.3
72           6.3          2.5           4.9          1.5
73           6.1          2.8           4.7          1.2
74           6.4          2.9           4.3          1.3
75           6.6          3.0           4.4          1.4
76           6.8          2.8           4.8          1.4
77           6.7          3.0           5.0          1.7
78           6.0          2.9           4.5          1.5
79           5.7          2.6           3.5          1.0
80           5.5          2.4           3.8          1.1
81           5.5          2.4           3.7          1.0
82           5.8          2.7           3.9          1.2
83           6.0          2.7           5.1          1.6
84           5.4          3.0           4.5          1.5
85           6.0          3.4           4.5          1.6
86           6.7          3.1           4.7          1.5
87           6.3          2.3           4.4          1.3
88           5.6          3.0           4.1          1.3
89           5.5          2.5           4.0          1.3
90           5.5          2.6           4.4          1.2
91           6.1          3.0           4.6          1.4
92           5.8          2.6           4.0          1.2
93           5.0          2.3           3.3          1.0
94           5.6          2.7           4.2          1.3
95           5.7          3.0           4.2          1.2
96           5.7          2.9           4.2          1.3
97           6.2          2.9           4.3          1.3
98           5.1          2.5           3.0          1.1
99           5.7          2.8           4.1          1.3

In [15]:
import pandas as pd
iris_df = pd.concat([x,y],axis=1)
iris_df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [18]:
iris.mean(axix=1)

TypeError: mean() got an unexpected keyword argument 'axix'